In [152]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [153]:
data = pd.read_csv('data.csv')
data.sample(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
398,tt0477080,1.874641,100000000,167805466,Unstoppable,Denzel Washington|Chris Pine|Rosario Dawson|Et...,Tony Scott,"1,000,000 Tons. 100,000 Lives. 100 Minutes.","A runaway train, transporting deadly, toxic ch...",98,Action|Thriller,Twentieth Century Fox Film Corporation|Scott F...,11/4/2010,733,6.2,2010
1045,tt1615065,0.998625,45000000,47000000,Savages,Blake Lively|Taylor Kitsch|Aaron Taylor-Johnso...,Oliver Stone,Young Beautiful Deadly.,Pot growers Ben and Chon face off against the ...,131,Crime|Drama|Thriller,Ixtlan|Relativity Media|Onda Entertainment,7/6/2012,516,6.2,2012

In [154]:
# Посмотрим что тут у нас...
#Убираем точку в названиях 
data.production_companies = data.production_companies.str.replace(".","")

#Добавляем столбец с прибылью 'profut'
data['profit'] = data['revenue'] - data['budget']

# Добавляем Название с номером imdb
data['title_extend'] = data['original_title'] + " (" + data['imdb_id'] + ")"

len(data)

1890

# Предобработка датасета

In [155]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [156]:
data[data.budget == data.budget.max()].title_extend

491    The Warrior's Way (tt1032751)
Name: title_extend, dtype: object

In [157]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [158]:
data[data.runtime == data.runtime.max()].title_extend
#data.sort_values(['runtime'], ascending=False).head(2)

1158    Gods and Generals (tt0279111)
Name: title_extend, dtype: object

In [159]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [160]:
data.title_extend = data.title_extend.str.replace('(' , "").str.replace(')', "")
data[data.runtime == data.runtime.min()].title_extend

769    Winnie the Pooh tt1449283
Name: title_extend, dtype: object

In [161]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [162]:
round(data['runtime'].mean())

110

In [163]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [164]:
round(data['runtime'].median())

106

In [165]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [166]:
data[data.profit == data.profit.max()].title_extend
#data.sort_values(['profit'], ascending=False).head(2)

239    Avatar tt0499549
Name: title_extend, dtype: object

In [167]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [168]:
data[data.profit == data.profit.min()].title_extend

491    The Warrior's Way tt1032751
Name: title_extend, dtype: object

In [169]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [170]:
data[data['profit'] > 0].profit.count()

1478

In [171]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [172]:
data2008 = data[data.release_year == 2008]
data2008[data2008.profit == data2008.profit.max()].title_extend
#data[data['release_year'] == 2008].sort_values(['profit'], ascending=False).head(2)

600    The Dark Knight tt0468569
Name: title_extend, dtype: object

In [173]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [174]:
data1214 = data.query('(release_year>= 2012) & (release_year <= 2014)')
data1214[data1214.profit == data1214.profit.min()].title_extend

1246    The Lone Ranger tt1210819
Name: title_extend, dtype: object

In [175]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?

Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [176]:
data_genres_cut = data.copy()
data_genres_cut['genres'] = data_genres_cut['genres'].str.split('|')
data_genres_cut.explode('genres')['genres'].value_counts().head(2)

Drama     782
Comedy    683
Name: genres, dtype: int64

In [177]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [178]:
data_genres_cut.query('profit > 0').explode('genres')['genres'].value_counts().head(2)

Drama     560
Comedy    551
Name: genres, dtype: int64

In [179]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [180]:
data.director.value_counts().head(2)

Steven Soderbergh    13
Clint Eastwood       12
Name: director, dtype: int64

In [181]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [182]:
data[data['profit'] > 0].director.value_counts().head(2)

Ridley Scott        12
Steven Spielberg    10
Name: director, dtype: int64

In [183]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [184]:
data.pivot_table(values = 'profit', index = 'director', aggfunc = 'sum').sort_values(['profit'], ascending=False).head(3)

                       profit
director
Peter Jackson      5202593685
David Yates        3379295625
Christopher Nolan  3162548502

In [185]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли? !!!!
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [186]:
data_actors = data.copy()
data_actors['cast'] = data_actors['cast'].str.split('|')
data_actors.query('profit > 0').explode('cast').groupby('cast').sum().sort_values('profit', ascending = False).head(2)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
cast,,,,,,,,
Emma Watson,51.821317,1433000000,8108368452,1509,32528,77.1,22088,6675368452
Daniel Radcliffe,47.358195,1297000000,7820915983,1273,29193,64.8,18061,6523915983

In [187]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [188]:
data_actors.query('release_year == 2012').explode('cast').groupby('cast').sum().sort_values('profit', ascending = False).tail(2)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
cast,,,,,,,,
James Kidnie,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
Kirsten Dunst,2.242860,85000000,16890793,241,900,11.7,4024,-68109207

In [189]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [190]:
data_actors[data_actors['budget'] > data['budget'].mean()].explode('cast').groupby('cast')['imdb_id']\
                                                           .count().sort_values(ascending = False).head(2)

cast
Matt Damon      18
Adam Sandler    17
Name: imdb_id, dtype: int64

In [191]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [192]:
NicCage = data[data['cast'].str.contains('Nicolas Cage')].copy()
NicCage['genres'] = NicCage['genres'].str.split('|')
NicCage.explode('genres').groupby('genres')['imdb_id'].count().sort_values(ascending = False).head(2)

genres
Action      17
Thriller    15
Name: imdb_id, dtype: int64

In [193]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [194]:
st_cor = data.copy()

st_cor.production_companies = st_cor.production_companies.str.replace(".","")
st_cor['production_companies'] = st_cor['production_companies'].str.split('|')
st_cor = st_cor.explode('production_companies')
st_cor.rename(columns = {'production_companies': 'pr_com'}, inplace = True)

"""Переименовываем компании Universal / Warner в .... Pictures """
uni_comps = (st_cor.pr_com == "Universal") | (st_cor.pr_com == "Universal Studios") \
                                           | (st_cor.pr_com == "Universal Pictures Corporation")

st_cor[uni_comps] = "Universal Pictures"
st_cor[st_cor.pr_com == "Warner Bros Pictures"] = "Warner Bros"

st_cor.groupby('pr_com')['imdb_id'].count().sort_values(ascending = False).head(2)

pr_com
Universal Pictures    183
Warner Bros           181
Name: imdb_id, dtype: int64

In [195]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [196]:
studios = data.copy()
studios.production_companies = studios.production_companies.str.replace(".","")
studios['production_companies'] = studios['production_companies'].str.split('|')
studios = studios.explode('production_companies')
studios.query('release_year == 2015').groupby('production_companies')['imdb_id'].count()\
                                     .sort_values(ascending = False).head(3)

production_companies
Warner Bros                               12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Name: imdb_id, dtype: int64

In [197]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [198]:
"""Используем откорректированный датафрейм (с названиями фтудий Universal
и Warnner) из задания 20 st_cor"""

st_cor[st_cor.genres.str.contains('Comedy')].groupby('pr_com')['revenue'].sum().sort_values(ascending = False).head(2)

pr_com
Universal Pictures      12787945581
Walt Disney Pictures    11514710326
Name: revenue, dtype: int64

In [199]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [200]:
#studios = data.copy()
#studios.production_companies = studios.production_companies.str.split('|')

st_cor.query('release_year == 2012').groupby('pr_com')['revenue'].sum().sort_values(ascending = False).head(3)

pr_com
Columbia Pictures     3468406608
Universal Pictures    2901011579
Warner Bros           1869520056
Name: revenue, dtype: int64

In [201]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [202]:
data.title_extend = data.title_extend.str.replace('(' , "").str.replace(')', "")
data_parpic = data[data['production_companies'].str.contains('Paramount Pictures')]
data_parpic[data_parpic.profit == data_parpic.profit.min()].title_extend

926    K-19: The Widowmaker tt0267626
Name: title_extend, dtype: object

In [203]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [204]:
data.groupby('release_year')['profit'].sum().sort_values(ascending = False).head(3)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
Name: profit, dtype: int64

In [205]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [206]:
data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending = False).head(3)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
Name: profit, dtype: int64

In [207]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [208]:
months = data.copy()
months['release_month'] = months.release_date
months.release_month = months.release_month.apply(lambda x: str(x).split('/')[0])
top_months = months['release_month'].value_counts().sort_values(ascending = False )

mon_names = ["Unknown","Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", 
              "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]

"""Переименовываем при выводе на русский через словарь"""
top_months.rename(lambda x: mon_names[int(x)]).head(2)

Сентябрь    227
Декабрь     191
Name: release_month, dtype: int64

In [209]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [210]:
months[(months.release_month=='6') | (months.release_month=='7') | (months.release_month=='8')]['imdb_id'].count()

450

In [211]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [212]:
months[(months.release_month=='1') | (months.release_month=='2') | (months.release_month=='12')]\
                                    ['director'].value_counts(ascending=False).head(2)

Peter Jackson        7
Steven Soderbergh    6
Name: director, dtype: int64

In [213]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [214]:
piv_mon = months.pivot_table(values='profit', index=['release_year'], columns=['release_month'], aggfunc = 'sum')
piv_mon.idxmax(axis = 1).value_counts().rename(lambda x: mon_names[int(x)]).head(2)

Июнь       7
Декабрь    4
dtype: int64

In [215]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [216]:
title_counts = data.copy()
title_counts['title_len'] = title_counts['original_title'].str.len()
title_counts['production_companies'] = title_counts['production_companies'].str.split('|')

title_counts.explode('production_companies').groupby('production_companies')['title_len']\
                                            .mean().sort_values(ascending = False).head(2)

production_companies
Four By Two Productions    83.0
Jim Henson Company, The    59.0
Name: title_len, dtype: float64

In [217]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов? 
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [218]:
title_counts = data.copy()
title_counts['title_len'] = title_counts['original_title'].apply(lambda x: len(x.split(' ')))
title_counts['production_companies'] = title_counts['production_companies'].str.split('|')

title_counts.explode('production_companies').groupby('production_companies')['title_len']\
                                            .mean().sort_values(ascending = False).head(3)

production_companies
Four By Two Productions    12.0
Jim Henson Company, The    10.0
Polsky Films                9.0
Name: title_len, dtype: float64

In [219]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [220]:
#Вариант - правильный (для ответа)

data = pd.read_csv('data.csv')

all_words = Counter()

data['original_title'] = data['original_title'].apply(lambda x: str(x).lower())

for line in range(1, len(data)):
    title = data.iloc[line]['original_title'].replace('  ',' ').split()
    for word in title:
        if len(word)>0:
            all_words[word] += 1

print(len(all_words))

2461

In [221]:
# Вариант 2 - неправильный =)) 

data = pd.read_csv('data.csv')
data['original_title'] = data['original_title'].apply(lambda x: str(x).lower()).str.split(' ')

data.explode('original_title').original_title.nunique()

2462

In [222]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [223]:
data = pd.read_csv('data.csv')

#По таблице выбираем vote_rating соотвествующий 1% , это больше или равно 7.8
data.describe(percentiles = [0, 0.5, 0.95, 0.98, 0.99, 1])

# Список фильмов из списка ответов
movie=["Inside Out", "Gone Girl", "12 Years a Slave", "BloodRayne", "The Adventures of Rocky & Bullwinkle",\
          "The Lord of the Rings: The Return of the King", "Upside Down", "300", "Lucky Number Slevin"]

# сокращаем датафрейм по рейтингу и списку фильмов
data_best_cut = data.loc[(data['original_title'].isin(movie)) & (data['vote_average'] >= 7.8)]
data_best_cut

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013

In [224]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [225]:
# сократим датафрейм для удобства
columns = ['imdb_id', 'cast']
act = pd.DataFrame(data, columns = columns)
act['cast'] = act['cast'].str.split('|')
act = act.explode('cast')

# совмещаем датайрефм сам с собой
act2 = act.merge(act, how = 'inner', on = 'imdb_id')

# Список звезд из первой позиции и второй позиции для группировки
star1 = ['Johnny Depp', 'Hugh Jackman', 'Vin Diesel', 'Adam Sandler', 'Daniel Radcliffe']
star2 = ['Helena Bonham Carter', 'Ian McKellen', 'Paul Walker', 'Kevin James', 'Rupert Grint']

# Сокращаем датафрейм, используя списки актеров как фильтры
act_cut = act2.loc[(act2['cast_x'].isin(star1)) & (act2['cast_y'].isin(star2))]

# Финальная таблица 
act_cut.groupby(['cast_x', 'cast_y'])['imdb_id'].count().unstack()

cast_y,Helena Bonham Carter,Ian McKellen,Kevin James,Paul Walker,Rupert Grint
cast_x,,,,,
Adam Sandler,NaN,NaN,5.0,NaN,NaN
Daniel Radcliffe,1.0,NaN,NaN,NaN,8.0
Hugh Jackman,NaN,5.0,NaN,NaN,NaN
Johnny Depp,6.0,NaN,NaN,NaN,NaN
Vin Diesel,NaN,NaN,NaN,5.0,NaN

In [226]:
"""Для проверки"""
actors = data.copy()
#actors['cast'] = actors['cast'].str.split('|')

actors.loc[actors['cast'].str.contains('Johnny Depp') & actors['cast'].str.contains('Helena Bonham Carter')].imdb_id.count() #6
actors.loc[actors['cast'].str.contains('Hugh Jackma') & actors['cast'].str.contains('Ian McKellen')].imdb_id.count() #5
actors.loc[actors['cast'].str.contains('Vin Diesel') & actors['cast'].str.contains('Paul Walker')].imdb_id.count() #5
actors.loc[actors['cast'].str.contains('Adam Sandler') & actors['cast'].str.contains('Kevin James')].imdb_id.count() #5
actors.loc[actors['cast'].str.contains('Daniel Radcliffe') & actors['cast'].str.contains('Rupert Grint')].imdb_id.count() #8

8

In [227]:
answer_ls.append(5)

# 36. У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [228]:
"""Функция заменяет значения суммы прибыли на profit/not profit"""
def profs(profit):
    if profit > 0:
        return "profit"
    else:
        return "not profit"

"""Создаем короткий датафрейм из data"""
data = pd.read_csv('data.csv')
columns = ['imdb_id', 'director', 'budget', 'revenue']
directors = pd.DataFrame(data, columns = columns)
directors['profit'] = directors['revenue'] - directors['budget']

"""Разделяем датафрейм на режиссеров, если больше 1 и фильтруем по нашей задаче"""
directors.director = directors.director.str.split('|')
directors = directors.explode('director')
dirs_list = ["Quentin Tarantino", "Steven Soderbergh", "Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]
directors = directors.loc[directors['director'].isin(dirs_list)]

"""Тарантино и Родригез на пару сняли минусой фильмец = )

И только C. Nolan обощелся без минусов в прибыли"""

directors['prof_bol'] = directors['profit'].apply(profs)
directors = directors.drop(['budget', 'revenue', 'profit'], axis=1)
directors.groupby('director')['prof_bol'].value_counts().unstack()

prof_bol           not profit  profit
director
Christopher Nolan         NaN     8.0
Clint Eastwood            2.0    10.0
Quentin Tarantino         1.0     6.0
Robert Rodriguez          3.0     8.0
Steven Soderbergh         3.0    10.0

In [229]:
answer_ls.append(4)

# Submission

In [230]:
len(answer_ls)

36

In [231]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4